*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div {
  text-align: center;
}

.invisible {
  visibility: visible;
  background-color: white;
}

a:link{
  text-decoration: none;
}

.newsletter-banner{
  background-color: azure;
  padding: 0.5em;
}

.user-avatar {
  position: absolute;
  width: 80%;
 
}

.my-pet {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 2%;
  line-height: 100%;
}

.doggy {
  display: inline-block;
}

.square-filler {
  background-color: rgb(211, 189, 255);
  width: 100%;
  height: 50vh;
  margin-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3em;
}
.square-filler-3 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3em;
}

.modalHome {
    font-size: 16px;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #F2D066;
    padding-left: 1em;
    padding-right: 1em;
    
  }
  .modalHome > .header {
    width: 100%;
    border-bottom: 1px solid rgba(202, 0, 0, 0);
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
    
  }
  .modalHome > .content {
    width: 100%;
    padding: 0px 5px;
    text-align: center;
  }
  
  input {
    width: 50%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    padding-left: 1em;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    margin-top: -10px;
    border-style: solid;
  }

input:focus {
    outline: none !important;
}

  .email {
      width: 100%;
      padding-top: 2;
      background-color: rgb(255, 255, 255);
  }
  .modalHome > .subscribe {
    width: 100%;
    padding: 10px 5px;
    margin: 0 auto;
    text-align: center;
 
    
  }

 .subscribeButton {
    background-color: #6E2594;
    border: none;
    color: white;
    padding: 1em 1em;
    margin-bottom: 1.5em;
    font-family: 'Poppins', sans-serif;
  }
